﻿@model iChatEntities.ChatRoomInfo

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Descripcion)
    </td>

    <td>
        @Html.DisplayFor(modelItem => Model.CorreoUsuarioCreacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.FechaCreacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Activo)
    </td>
</tr>

