﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/iChat.css">

    <link href="~/Content/Emoji/emoji.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default bg-light navbar-color-blue">
        <a class="navbar-brand  navbar-text-green" href="#">Chat1</a>

        <a class="navbar-brand  navbar-text-green" href="~/About.html">About</a>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer>
        © 2018 Todos los derechos reservados:
        <a href="http://www.chat1.org/"> Chat1.org</a>

    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @RenderSection("jsScript",false);

   
</body>
</html>