﻿@model iChatEntities.ChatMensaje


@{
    var tempval = TempData["USERID"];
    if (Convert.ToString(tempval) == Model.Usuario.NickName)
    {
        <div class="bubble darker">
           
            <img src="~/Content/images/robot.png" alt="Avatar" class="right">
            <p><b>@Html.DisplayFor(modelItem => Model.Usuario.NickName)</b> </p>
            <p>@Html.DisplayFor(modelItem => Model.Texto)</p>
            <span class="time-left">@Html.DisplayFor(modelItem => Model.FechaCreacion)</span>


        </div>

    }
    else
    {
        <div class="bubble">
            <img src="~/Content/images/robot.png" alt="Avatar">
            <p><b>@Html.DisplayFor(modelItem => Model.Usuario.NickName)</b> </p>
            <p>@Html.DisplayFor(modelItem => Model.Texto)</p>
            <span class="time-right">@Html.DisplayFor(modelItem => Model.FechaCreacion)</span>
        </div>
    }
}

