﻿@model iChatEntities.Usuario


<div class="bubble" id=@("dUser"+ @Model.UsuarioID)>
    
    <img src='@Url.Content("~/Content/images/user1.png")' alt="Avatar" style="width:90px">

    <p>@Html.DisplayFor(modelItem => Model.NickName)</p>
    <p>@Html.DisplayFor(modelItem => Model.Correo)</p>

</div>

