﻿body {
    background-image: url('images/triangle.jpg');
   
}

title {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 40px;
}

h1 {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

p {
    text-align:justify;
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ListaIntegrantes {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#PID2 {
    font-family: Arial;
    color: white;
    font-size: 20px;

}

#PID3 {
    font-family: Arial;
    color: white;
    font-size: 20px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

div:not(.column) {
    padding: 20px 10px 10px 10px;
}

#IMGFOTO1 {
    border-radius: 15px 15px;
    border-style: outset;
    border-width: 7px;
}
