﻿.bd-text-orange-bright {
    color: #ff6a00;
}


.navbar-color-green {
    background-color: #D1E996;
    border-color: #D1E996;
}


.navbar-color-blue {
    background-color: #2188B4;
    border-color: #2188B4;
}

.navbar-color-orange {
    background-color: #F1BF30;
    border-color: #F1BF30;
}


.navbar-color-blue, .navbar-color-green a {
    color: white;
}

.navbar-text-green {
    color: #D1E996;
}

/*--------- CHAT ----------------*/

.iChatpanel {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #dedede;
    padding: 5px;
}


.bubble:nth-of-type(odd) {
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    font-size:10px;
}
.bubble:nth-of-type(even) {
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    border-color: #ccc;
    background-color: #ddd;
    
    font-size: 10px;
}
.darker {
    border-color: #ccc;
    background-color: #ddd;
    color: #2188B4;
}


    .darker p {
        text-align:right;
    }

.bubble::after {
    content: "";
    clear: both;
    display: table;
}


.bubble img {
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


    .bubble img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }


.time-right {
    float: right;
    color: #aaa;
}


.time-left {
    float: left;
    color: #999;
}




/*footer*/

footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    background: #2188B4;
    width: 100%;
    height: 70px;
    vertical-align: middle;
    color: #ffffff;
}

    footer a {
        color: #D1E996;
    }
