﻿body {
    background-image: url("../images/triangle.jpg");
    background-size: cover;
}

title {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 40px;
}

h1 {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

p {
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
    font-family: Arial;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#ListaIntegrantes {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#PID2 {
    font-family: Arial;
    color: white;
    font-size: 20px;

}

#PID3 {
    font-family: Arial;
    color: black;
    font-size: 20px;
}