﻿@model iChatEntities.Loggin

@{
    ViewBag.Title = "Nuevo Usuario";
}

<div class="row align-items-center">
    <div class="col-md-6 order-md-2 text-center text-md-left pr-md-5">
        <img class="img-fluid mb-3 mb-md-0" src="~/Content/images/Logo1.png" alt="" width="150" height="150">


        <p class="lead">
            Crea o ingresa  un/a un Room nuevo
        </p>
        <p class="lead">
            Ponte en contacto, con nuestros usuarios. Comparte información y documentos a través de nuestros Rooms.
        </p>
        <p class="lead">
            Unete de manera sencilla, simplemente indica el nombre del 
            y tu nickname.

        </p>


        <p class="text-muted mb-0">
            Version: v1.0.0
        </p>
    </div>
    <div class="col-6 mx-auto col-md-6 order-md-1">

        @using (Html.BeginForm( "Create", "ChatRoom",FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Nuevos Participantes</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NickName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.chatName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.chatName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.chatName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Ingresar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>

</div>
