﻿@model IEnumerable <iChatEntities.ChatRoomInfo>

@{
    ViewBag.Title = "Index";
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuarioCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            @Html.Partial("_ChatRooms", item)//the first parameter expects a partial view and the second parameter expects a model object
        }
    </table>

