﻿@model iChatEntities.ChatRoom

@{
    ViewBag.Title = "Room";
}

<h2>Room  @TempData["ROOMNAME"]</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="text-left">


            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-bottom:80px;">

    <div class="col-sm-3  col-md-3">
        Bienvenid@@ <label id="userIdLabel">@TempData["USERID"]</label>
        <button type="button" id="btnCerrarSesion" class="btn btn-link">Cerrar Sesión</button>
        <input type="hidden" id="USERID" name="USERID" value="@TempData["USERID"]" />
        <input type="hidden" id="idRoomChat" name="idRoomChat" value="@TempData["ROOMPK"]" />
        <input type="hidden" id="idRoomChatUser" name="idRoomChatUser" value="@TempData["USERIDPK"]" />
        <input type="hidden" id="idRoomName" name="idRoomName" value="@TempData["ROOMNAME"]" />
    </div>
    <div class="col-sm-6 col-md-6">
        <div id="dMensajes" class="row iChatpanel">
            @if (Model != null)

            {
                foreach (var item in Model.ChatMensajes)
                {
                    @Html.Partial("_Mensajes", item)//the first parameter expects a partial view and the second parameter expects a model object
                }


            }
        </div>
        <div class="row">

            <p class="lead emoji-picker-container">
                <textarea id="textAreaMsn" class="form-control textarea-control" rows="2" placeholder="Escriba su mensaje..." data-emojiable="true" data-emoji-input="unicode"></textarea>
            </p>
            <div class="input-group">



                @*<p class="lead emoji-picker-container">
                        <input id="mensajeTexto" type="text" class="form-control input-sm chat_input" placeholder="Escriba su mensaje..." data-emojiable="true" data-emoji-input="unicode" />
                    </p>*@
                <span class="input-group-btn right">
                    <button type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> Adjuntar
                    </button>
                    <button id="btnEnviar" name="btnEnviar" type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Enviar
                    </button>
                </span>
            </div>

        </div>


    </div>
    <div id="dUsuariosChat" class="col-sm-3  col-md-3">

        @if (Model != null)

        {
            foreach (var item in Model.ChatRoomUsuarios.ToList())
            {
                @Html.Partial("_Usuarios", item.Usuario)//the first parameter expects a partial view and the second parameter expects a model object
            }


        }
    </div>
</div>


@section jsScript{
    <script src="~/Scripts/Enum.js" type="text/javascript"></script>
    <script src="~/Scripts/Object.inherit.js" type="text/javascript"></script>
    <script src="~/Scripts/Chat.js" type="text/javascript"></script>



    <script src="~/Scripts/Emoji/config.js" type="text/javascript"></script>
    <script src="~/Scripts/Emoji/util.js" type="text/javascript"></script>
    <script src="~/Scripts/Emoji/jquery.emojiarea.js" type="text/javascript"></script>
    <script src="~/Scripts/Emoji/emoji-picker.js" type="text/javascript"></script>




    <script>
        var urlimg = '@Url.Content("~/Content/Emoji/img/")';


        $(function () {
            // Initializes and creates emoji set from sprite sheet
            window.emojiPicker = new EmojiPicker({
                emojiable_selector: '[data-emojiable=true]',
                assetsPath: urlimg,
                popupButtonClasses: 'fa fa-smile-o'
            });
            // Finds all elements with `emojiable_selector` and converts them to rich emoji input fields
            // You may want to delay this step if you have dynamically created input fields that appear later in the loading process
            // It can be called as many times as necessary; previously converted input fields will not be converted again
            window.emojiPicker.discover();
        });
    </script>


}
